.form{
    width: 90%;
    height: 100%;
    text-align: center;
    padding: 20px 30px;
    color: #fff;
    @media screen and (max-width: $small) {
        padding: 20px 0px;
      }
    .close_container{
        text-align: right;
        .close_btn{
            cursor: pointer;
            color: $text-color;
            font-size: 1.2rem;
        }
    }
    .form_field{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        @media screen and (max-width: $small) {
            margin: 20px 0px;
          }
        .file_img{
            width: 100%;
            text-align: center;
            .selected_file{
                max-width: 600px;
                max-height: 400px;
                @media screen and (max-width: $small) {
                    max-width: 95%;
        
                  }
            }
        }
        input{
            width: 100%;
            font-size: 1rem;
            color: $text-color;
            &:active,&:focus{
                color: $text-color;
            }
        }
        input[type="file"]{
            display: none;
        }

        .file_upload{
            width: 100%;
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .btn{
            width: 100%;
          padding: 10px 15px;
          font-weight: 500;
          color: #fff;
          border: none;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }
        .btn_submit{
            background-color: $blue;

        }
        .btn_clear{
            background-color: red;
        }
    }
}
.loader-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
}

.form-row {
    width: 95%;
    position: relative;
    margin: 10px auto;
    border-radius: 5px;
    border: 0.1px solid $secondary-color;
    .input-text {
        background-color: #121212;
        -webkit-appearance: none;
        border: none;
        font-family: Arial;
        outline: none;
        margin-bottom: 0px;
        padding: 7px 4px;
        font-size: 13px;
        position: relative;
        width: 100%;
        color: #fff;
    }
    .label-helper {
        position: absolute;
        opacity: 0;
        transition: .2s bottom, .2s opacity;
        bottom: 0;
        left: 0;
        z-index: 1;
         }

         .input-text:focus + .label-helper,.input-text:active + .label-helper {
            bottom: 77%;
            font-family: arial;
            font-size: 14px;
            background-color: #121212;
            line-height: 1;
            opacity: 1;
            padding: 4px;
        }
        .input-text:focus::placeholder {
            color: transparent;
          }

}
.input-text:disabled {
    border: 1px solid red;
}

