nav{
    min-height: 10vh;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .4px solid $light-dark;
    .nav_header{
        span.menu_icon{
            font-size: 1.5rem;
            padding: 10px;
    
        }
        h1.logo{
            display: inline-block;
            font-size: 1rem;
        }
    }
    .nav_search{
        form{
            padding: 10px;
            background-color: $light-dark;
            color: $text-color-secondary;
            display: flex;
            align-items: center;
            min-height: 6vh;
            border-radius: 50px;
            input[type='search']{
                background-color: $light-dark;
                color: $text-color-secondary;
                font-size: 1rem;
                padding: 0 10px;
                width: 500px;
                border: none;
                outline: none;
                &:focus{
                 color: $text-color;
                 background-color: transparent;
                }
                &:-internal-autofill-selected{
                    background-color: transparent;
                } 
            }
        }
    }
    div.user{
        display: flex;
        align-items: center;
        gap: 10px;
        div.details{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .drop-down-icon{
                cursor: pointer;
                font-size: 2rem;
            }
            .drop-down{
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: absolute;
                top: 5vh;
                right: 10px;
                z-index: 100;
                width: max-content;
                background-color: $secondary-color;
                -moz-backface-visibility:blur(4) ;
                padding: 10px 20px ;
                border-radius: 2px;
                .nav_userImg{
                    font-size: 1rem;
                    padding-right: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    text-align: center;
                    padding: 8px 16px;
                    &:hover{
                        background-color: $primary-color;
                    }
                }
                button{
                    cursor: pointer;
                    padding: 8px 18px;
                    background-color: $blue;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    font-weight: 600;
                    color: #fff;
                    &:hover{
                        background-color: red;
                    }
                }
            }
        }
        .nav_userImg{
            font-size: 1.8rem;
        }
    }
}