*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

// variables
$primary-color: #18191A;
$secondary-color: #232626;
$light-dark: #333333;
$text-color: #FFFFFF;
$text-color-secondary: #73736F;
$blue:#2563EB;



//  fonts 

@font-face {
    font-family: 'Roboto-italic';
    src: url("./res/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
}
@font-face {
    font-family: 'Roboto-regular';
    src: url("./res/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

// 
$small: 420px;
$medium: 900px;
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}

body{
    background-color: $primary-color;
    margin: 0 auto;
    max-width: 1280px;
    color: $text-color;
    font-family: 'Roboto-regular';
    font-size: 60%;
}

a{
    color: #FFFFFF
}









// import
@import "./components/Home/home";
@import "./components/NavBar/Navbar";
@import "./components/Posts/posts";
@import "./components/Posts/Post/post";
@import "./components/Form/Form";
@import "./components/auth/auth";
@import "./components/Loading/postLoading";