.auth{
    width: 100%;
    margin: 5% 0;
    text-align: center;
    font-size: .9rem;
    .container{
        border-radius: 2px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        form.auth_sign{
            padding: 15px;
            width: 400px;
            display: flex;
            justify-content: center;
            border: 1px solid $secondary-color;
            align-items: stretch;
            border-radius: 5px;
            flex-direction: column;
            @media screen and (max-width: $small) {
                width: 100%;
              }
            .password_block{
                display: flex;
                padding: 0 10px;
                div.pass-field{
                    flex: 1;
                    padding: 6px;
                    margin-bottom: 20px;

                }
            }
            .buttons{
                .sign_btn{
                  text-align: center;
                 .btn{
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    margin: 0 10px;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    color: #fff;
                    font-weight: 500;
                    cursor: pointer;
                 }
                 .sign{
                   background-color: $blue;
                 }
                 .reset{
                     background-color: red;
                 }
                }
            }
            .sign_in,.sign_up{
                color: $blue;
            }
        }
    }
}




